/* Define o estilo geral da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Tela de seleção de usuário */
#user-selection-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #1c1c1c;
    border: 1px solid #444;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
    border-color: #888;
}

/* Tela de senha */
#password-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#error-message {
    color: #ff4d4d;
    margin-top: 10px;
}

input[type="password"] {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #fff;
}

#password-btn {
    margin-top: 10px;
}

/* Oculta elementos quando necessário */
.hidden {
    display: none;
}

/* Estilos gerais para o chat */
#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 600px;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #444;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos das mensagens */
.message {
    padding: 8px;
    margin: 5px 0;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    position: relative;
}

/* Estilo da hora da mensagem */
.message-time {
    font-size: 12px; /* Tamanho da fonte para o horário */
    color: #aaa; /* Cor do texto do horário */
    margin-top: 5px; /* Espaçamento entre a mensagem e o horário */
}

/* Estilos para a entrada de mensagem */
#message-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #94929b;
}

#send-btn {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

#send-btn:hover {
    background-color: #555;
}
